<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="blueCow.Properties.Settings.Distances_vs2015ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\Dropbox\Glyndwr\optimisation\BlueCowAntoine\blueCow\App_Data\Distances.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="blueCow.Properties.Settings.Distances_vs2015ConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\Dropbox\Glyndwr\optimisation\BlueCowAntoine\blueCow\App_Data\Distances.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>